/*==============================================
[  Reference table  ]
================================================

:: Root
:: Body
:: Fonts
:: Settings

==============================================*/


/***************************
		 Root
***************************/
:root
{
    --bang-color-gradient: linear-gradient(to right, #ffffff 10%, #000000 100% );

    --bang-color-gradient-primary: #ffffff;

    --bang-color-gradient-secundary: #000000;
}


/***************************
		 Body
***************************/
* 
{ padding: 0; margin: 0; border: none; }

body
{ background: rgb(17, 17, 17); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif; overflow: hidden; overflow-y: auto; }

body::-webkit-scrollbar
{ width: 15px; height: 70px; }

body::-webkit-scrollbar-track
{ background: var(--bang-color-secundary); }

body::-webkit-scrollbar-thumb
{ border-radius: 2px; background: linear-gradient(to bottom, #ffffff 10%, #000000 100% ); transition: 0.8s; transition-timing-function: linear; }

body::-webkit-scrollbar-thumb:hover
{ transition: 0.8s; transition-timing-function: linear; background: rgb(255, 255, 255); }

*::-moz-selection { background: var(--bang-color-gradient-primary); color: #fff; text-shadow: none; }
::-moz-selection { background: var(--bang-color-gradient-primary); color: #fff; text-shadow: none; }
::selection { background: var(--bang-color-gradient-primary); color: #fff; text-shadow: none; }


/***************************
		 Fonts
***************************/
@font-face 
{ font-family: name_font; src: url(../fonts/);}


/***************************
		 Settings
***************************/
.mr-tp-05 { margin-top: 5px; }
.mr-tp-10 { margin-top: 10px; }
.mr-tp-15 { margin-top: 15px; }
.mr-tp-20 { margin-top: 20px; }
.mr-tp-25 { margin-top: 25px; }
.mr-tp-30 { margin-top: 30px; }
.mr-tp-35 { margin-top: 35px; }
.mr-tp-40 { margin-top: 40px; }
.mr-tp-45 { margin-top: 45px; }
.mr-tp-50 { margin-top: 50px; }
.mr-tp-55 { margin-top: 55px; }
.mr-tp-60 { margin-top: 50px; }
.mr-tp-65 { margin-top: 55px; }
.mr-tp-70 { margin-top: 60px; }
.mr-tp-75 { margin-top: 65px; }
.mr-tp-80 { margin-top: 70px; }
.mr-tp-85 { margin-top: 85px; }
.mr-tp-90 { margin-top: 90px; }
.mr-tp-95 { margin-top: 95px; }
.mr-tp-100 { margin-top: 100px; }

.mr-bt-05 { margin-bottom: 5px; }
.mr-bt-10 { margin-bottom: 10px; }
.mr-bt-15 { margin-bottom: 15px; }
.mr-bt-20 { margin-bottom: 20px; }
.mr-bt-25 { margin-bottom: 25px; }
.mr-bt-30 { margin-bottom: 30px; }
.mr-bt-35 { margin-bottom: 35px; }
.mr-bt-40 { margin-bottom: 40px; }
.mr-bt-45 { margin-bottom: 45px; }
.mr-bt-50 { margin-bottom: 50px; }
.mr-bt-55 { margin-bottom: 55px; }
.mr-bt-60 { margin-bottom: 50px; }
.mr-bt-65 { margin-bottom: 55px; }
.mr-bt-70 { margin-bottom: 60px; }
.mr-bt-75 { margin-bottom: 65px; }
.mr-bt-80 { margin-bottom: 70px; }
.mr-bt-85 { margin-bottom: 85px; }
.mr-bt-90 { margin-bottom: 90px; }
.mr-bt-95 { margin-bottom: 95px; }
.mr-bt-100 { margin-bottom: 100px; }

.mr-lf-05 { margin-left: 5px; }
.mr-lf-10 { margin-left: 10px; }
.mr-lf-15 { margin-left: 15px; }
.mr-lf-20 { margin-left: 20px; }
.mr-lf-25 { margin-left: 25px; }
.mr-lf-30 { margin-left: 30px; }
.mr-lf-35 { margin-left: 35px; }
.mr-lf-40 { margin-left: 40px; }
.mr-lf-45 { margin-left: 45px; }
.mr-lf-50 { margin-left: 50px; }
.mr-lf-55 { margin-left: 55px; }
.mr-lf-60 { margin-left: 60px; }
.mr-lf-65 { margin-left: 65px; }
.mr-lf-70 { margin-left: 70px; }
.mr-lf-75 { margin-left: 75px; }
.mr-lf-80 { margin-left: 80px; }
.mr-lf-85 { margin-left: 85px; }
.mr-lf-90 { margin-left: 90px; }
.mr-lf-95 { margin-left: 95px; }
.mr-lf-100 { margin-left: 100px; }

.mr-rg-05 { margin-right: 5px; }
.mr-rg-10 { margin-right: 10px; }
.mr-rg-15 { margin-right: 15px; }
.mr-rg-20 { margin-right: 20px; }
.mr-rg-25 { margin-right: 25px; }
.mr-rg-30 { margin-right: 30px; }
.mr-rg-35 { margin-right: 35px; }
.mr-rg-40 { margin-right: 40px; }
.mr-rg-45 { margin-right: 45px; }
.mr-rg-50 { margin-right: 50px; }
.mr-rg-55 { margin-right: 55px; }
.mr-rg-60 { margin-right: 60px; }
.mr-rg-65 { margin-right: 65px; }
.mr-rg-70 { margin-right: 70px; }
.mr-rg-75 { margin-right: 75px; }
.mr-rg-80 { margin-right: 80px; }
.mr-rg-85 { margin-right: 85px; }
.mr-rg-90 { margin-right: 90px; }
.mr-rg-95 { margin-right: 95px; }
.mr-rg-100 { margin-right: 100px; }

.menu{
	background-color: rgb(255, 255, 255);
	display: grid;
	width: 100%;
	height: auto;
	text-align: center;
	position: fixed;
	z-index: 999;
}
.menu .content{
	padding: 20px 0px;
}
.menu .content .botão{
	text-decoration: none;
	color: black;
	border-bottom: black solid 2px;
	padding-bottom: 2px;
}

.container-header-curriculo{
	width: 100%;
	position: relative;
	text-align: center;
}
.container-header-curriculo .content{
	height: auto;
	position: absolute;
	z-index: 999;
}
.container-header-curriculo .content .title{
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
.container-header-curriculo .content .text{
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 30px;
}
.container-header-curriculo .content .container-button{
	display: grid;
	width: 100%;
	height: auto;
}

.container-header-curriculo .content .container-button .button .link{
	text-decoration: none;
	background-color: #82ff83;
	color: black;
	border-radius: 4px;
}

.container-header-swot{
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
}
.container-header-swot .content{
	height: auto;
	position: absolute;
	z-index: 999;
}
.container-header-swot .content .title{
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
.container-header-swot .content .text{
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 30px;
}
.container-header-swot .content .button{
	width: 100%;
	height: auto;
}
.container-header-swot .content .button .link{
	text-decoration: none;
	background-color: #82ff83;
	color: black;
	padding: 10px 20px;
	border-radius: 4px;
}

.container-header-qi{
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
}
.container-header-qi .content{
	height: auto;
	position: absolute;
	z-index: 999;
}
.container-header-qi .content .title{
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
.container-header-qi .content .text{
	font-weight: 600;
	text-align: center;
	color: white;
	margin-bottom: 30px;
}
.container-header-qi .content .button{
	width: 100%;
	height: auto;
}
.container-header-qi .content .button .link{
	text-decoration: none;
	background-color: #82ff83;
	color: black;
	padding: 10px 20px;
	border-radius: 4px;
}

/* responsivo */
@media screen and (min-height:520px){
	.container-header-curriculo{
		height: 100vh;
	}
	.container-header-swot{
		height: 100vh;
	}
	.container-header-qi{
		height: 100vh;
	}
}
@media screen and (max-height:519px) and (min-height:385px){
	.container-header-curriculo{
		height: 150vh;
	}
	.container-header-swot{
		height: 150vh;
	}
	.container-header-qi{
		height: 150vh;
	}
}
@media screen and (max-height:384px) and (min-height:300px){
	.container-header-curriculo{
		height: 180vh;
	}
	.container-header-swot{
		height: 180vh;
	}
	.container-header-qi{
		height: 180vh;
	}
}
@media screen and (min-width:600px){
	.container-header-curriculo .img-1{
		width: 100%;
		height: 100%;
	}
	.container-header-curriculo .img-2{
		width: 100%;
		height: 100%;
		display: none;
	}
	.container-header-swot .img-1{
		width: 100%;
		height: 100%;
	}
	.container-header-swot .img-2{
		width: 100%;
		height: 100%;
		display: none;
	}
	.container-header-qi .img-1{
		width: 100%;
		height: 100%;
	}
	.container-header-qi .img-2{
		width: 100%;
		height: 100%;
		display: none;
	}
}
@media screen and (max-width:599px) and (min-width:300px){
	.container-header-curriculo .img-1{
		width: 100%;
		height: 100%;
		display: none;
	}
	.container-header-curriculo .img-2{
		width: 100%;
		height: 100%;
	}
	.container-header-swot .img-1{
		width: 100%;
		height: 100%;
		display: none;
	}
	.container-header-swot .img-2{
		width: 100%;
		height: 100%;
	}
	.container-header-qi .img-1{
		width: 100%;
		height: 100%;
		display: none;
	}
	.container-header-qi .img-2{
		width: 100%;
		height: 100%;
	}
}
@media screen and (min-width:885px){
	.menu{
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
	.menu .content .botão{
		font-size: 18px;
	}
}
@media screen and (max-width:884px) and (min-width:600px){
	.menu{
		grid-template-columns: 0% 33.33% 33.33% 33.34% 0%;
	}
	.menu .content .botão{
		font-size: 18px;
	}
}
@media screen and (max-width:599px) and (min-width:470px){
	.menu{
		grid-template-columns: 0% 30% 30% 40% 0%;
	}
	.menu .content .botão{
		font-size: 15px;
	}
}
@media screen and (max-width:469px) and (min-width:300px){
	.menu{
		grid-template-columns: 0% 26% 26% 48% 0%;
	}
	.menu .content .botão{
		font-size: 15px;
	}
}
@media screen and (min-width:1100px){
	.container-header-curriculo .content{
		width: 60%;
		top: 35%;
		left: 20%;
}
	.container-header-curriculo .content .title{
		font-size: 60px;
}
   .container-header-curriculo .content .text{
	   font-size: 25px;
}
   .container-header-curriculo .content .container-button .button .link{
		font-size: 20px;
		padding: 10px 20px;
}
	.container-header-curriculo .content .container-button{
		grid-template-columns: 50% 50%;
}
	.container-header-curriculo .content .container-button .button{
		margin: 0px;
}
}
@media screen and (max-width:1099px) and (min-width:960px){
	.container-header-curriculo .content{
		width: 80%;
		top: 35%;
		left: 10%;
}
	.container-header-curriculo .content .title{
		font-size: 60px;
}
   .container-header-curriculo .content .text{
	   font-size: 25px;
}
   .container-header-curriculo .content .container-button .button .link{
		font-size: 20px;
		padding: 10px 20px;
}
	.container-header-curriculo .content .container-button{
		grid-template-columns: 50% 50%;
}
	.container-header-curriculo .content .container-button .button{
		margin: 0px;
}
}
@media screen and (max-width:959px) and (min-width:765px){
	.container-header-curriculo .content{
		width: 100%;
		top: 35%;
		left: 0%;
		transform: scale(90%);
}
	.container-header-curriculo .content .title{
		font-size: 60px;
}
   .container-header-curriculo .content .text{
	   font-size: 25px;
}
   .container-header-curriculo .content .container-button .button .link{
		font-size: 20px;
		padding: 10px 20px;
}
	.container-header-curriculo .content .container-button{
		grid-template-columns: 50% 50%;
}
	.container-header-curriculo .content .container-button .button{
		margin: 0px;
}
}
@media screen and (max-width:764px) and (min-width:590px){
	.container-header-curriculo .content{
		width: 80%;
		top: 30%;
		left: 10%;
		transform: scale(100%);
}
	.container-header-curriculo .content .title{
		font-size: 40px;
}
   .container-header-curriculo .content .text{
	   font-size: 20px;
}
   .container-header-curriculo .content .container-button .button .link{
		font-size: 18px;
		padding: 10px 20px;
}
	.container-header-curriculo .content .container-button{
		grid-template-columns: 50% 50%;
}
	.container-header-curriculo .content .container-button .button{
		margin: 0px;
}
}
@media screen and (max-width:589px) and (min-width:465px){
	.container-header-curriculo .content{
		width: 100%;
		top: 30%;
		left: 0%;
		transform: scale(100%);
		padding: 0px 20px;
}
	.container-header-curriculo .content .title{
		font-size: 35px;
}
   .container-header-curriculo .content .text{
	   font-size: 19px;
}
   .container-header-curriculo .content .container-button .button .link{
		font-size: 18px;
		padding: 10px 20px;
}
	.container-header-curriculo .content .container-button{
		grid-template-columns: 100%;
}
	.container-header-curriculo .content .container-button .button{
		margin: 15px 0px;
}
}
@media screen and (max-width:464px) and (min-width:300px){
	.container-header-curriculo .content{
		width: 100%;
		top: 30%;
		left: 0%;
		transform: scale(100%);
		padding: 0px 20px;
}
	.container-header-curriculo .content .title{
		font-size: 28px;
}
   .container-header-curriculo .content .text{
	   font-size: 16px;
}
   .container-header-curriculo .content .container-button .button .link{
		font-size: 17px;
		padding: 10px 20px;
}
	.container-header-curriculo .content .container-button{
		grid-template-columns: 100%;
}
	.container-header-curriculo .content .container-button .button{
		margin: 15px 0px;
}
}

@media screen and (min-width:1200px){
	.container-header-swot .content{
		width: 60%;
		top: 30%;
		left: 20%;
	}
	.container-header-swot .content .title{
		 font-size: 60px;
	}
	.container-header-swot .content .text{
		font-size: 25px;
	}
	.container-header-swot .content .button .link{
		font-size: 20px;
	}
}
@media screen and (max-width:1199px) and (min-width:755px){
	.container-header-swot .content{
		width: 80%;
		top: 30%;
		left: 10%;
	}
	.container-header-swot .content .title{
		 font-size: 50px;
	}
	.container-header-swot .content .text{
		font-size: 24px;
	}
	.container-header-swot .content .button .link{
		font-size: 20px;
	}
}
@media screen and (max-width:754px) and (min-width:595px){
	.container-header-swot .content{
		width: 90%;
		top: 30%;
		left: 5%;
	}
	.container-header-swot .content .title{
		 font-size: 45px;
	}
	.container-header-swot .content .text{
		font-size: 23px;
	}
	.container-header-swot .content .button .link{
		font-size: 20px;
	}
}
@media screen and (max-width:594px) and (min-width:300px){
	.container-header-swot .content{
		width: 100%;
		top: 30%;
		left: 0;
		padding: 0px 20px;
	}
	.container-header-swot .content .title{
		 font-size: 28px;
	}
	.container-header-swot .content .text{
		font-size: 16px;
	}
	.container-header-swot .content .button .link{
		font-size: 18px;
	}
}

@media screen and (min-width:1200px){
	.container-header-qi .content{
		width: 80%;
		top: 26%;
		left: 10%;
	}
	.container-header-qi .content .title{
		 font-size: 60px;
	}
	.container-header-qi .content .text{
		font-size: 25px;
	}
	.container-header-qi .content .button .link{
		font-size: 20px;
	}
}
@media screen and (max-width:1199px) and (min-width:740px){
	.container-header-qi .content{
		width: 90%;
		top: 26%;
		left: 5%;
	}
	.container-header-qi .content .title{
		 font-size: 45px;
	}
	.container-header-qi .content .text{
		font-size: 20px;
	}
	.container-header-qi .content .button .link{
		font-size: 20px;
	}
}
@media screen and (max-width:739px) and (min-width:570px){
	.container-header-qi .content{
		width: 90%;
		top: 26%;
		left: 5%;
	}
	.container-header-qi .content .title{
		 font-size: 35px;
	}
	.container-header-qi .content .text{
		font-size: 18px;
	}
	.container-header-qi .content .button .link{
		font-size: 20px;
	}
}
@media screen and (max-width:569px) and (min-width:470px){
	.container-header-qi .content{
		width: 90%;
		top: 26%;
		left: 5%;
	}
	.container-header-qi .content .title{
		 font-size: 34px;
	}
	.container-header-qi .content .text{
		font-size: 16px;
	}
	.container-header-qi .content .button .link{
		font-size: 18px;
	}
}
@media screen and (max-width:470px) and (min-width:410px){
	.container-header-qi .content{
		width: 90%;
		top: 26%;
		left: 5%;
	}
	.container-header-qi .content .title{
		 font-size: 30px;
	}
	.container-header-qi .content .text{
		font-size: 15px;
	}
	.container-header-qi .content .button .link{
		font-size: 18px;
	}
}
@media screen and (max-width:409px) and (min-width:360px){
	.container-header-qi .content{
		width: 90%;
		top: 26%;
		left: 5%;
	}
	.container-header-qi .content .title{
		 font-size: 28px;
	}
	.container-header-qi .content .text{
		font-size: 15px;
	}
	.container-header-qi .content .button .link{
		font-size: 16px;
	}
}
@media screen and (max-width:359px) and (min-width:300px){
	.container-header-qi .content{
		width: 100%;
		top: 22%;
		left: 0%;
		padding: 0px 10px;
	}
	.container-header-qi .content .title{
		 font-size: 28px;
	}
	.container-header-qi .content .text{
		font-size: 15px;
	}
	.container-header-qi .content .button .link{
		font-size: 16px;
	}
}